{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="en">

{% include "partials/head.html" %}

<body id="{{ site.siteID }}">

{% include "partials/header.html" %}

<div id="container">

<aside>
<nav>
<h3>Categories</h3>
<ul class="alt-">
<li><a href="#section-banners">Banner images</a></li>
<li><a href="#section-icons">Icons</a></li>
<li><a href="#section-guides">Guides images</a></li>
<li><a href="#section-logos">Logos</a></li>
<li><a href="#section-text">Text elements</a></li>
</ul>
</nav>
</aside>

<main>

<div data-layout="flex">
<h1>{{ title }}</h1>
<p data-size="s"><a href="/images/assets/complete.zip" class="btn">Download ZIP (full archive)</a></p>
</div><!-- layout -->

<div class="sn-hgroup" id="section-banners">
<h2>Banner images</h2>
<p data-size="s">Available in PNG, SVG, and WEBP file formats</p>
</div><!-- hgroup -->

<figure>
<img src="/images/assets/banner-foundation-course.webp" alt="">
<figcaption>Banner 1</figcaption>
</figure>

<div data-layout="flex">

<figure>
<img src="/images/assets/banner-queens-1.webp" alt="">
<figcaption>Banner 2 (portrait)</figcaption>
</figure>

<figure>
<img src="/images/assets/banner-queens-2.webp" alt="">
<figcaption>Banner 3 (portrait)</figcaption>
</figure>

</div><!-- layout -->

<div data-layout="flex">

<figure>
<img src="/images/assets/new-banner-1.png" alt="">
<figcaption>Banner 4</figcaption>
</figure>

<figure>
<img src="/images/assets/new-banner-2.png" alt="">
<figcaption>Banner 5</figcaption>
</figure>

<figure>
<img src="/images/assets/new-banner-3.png" alt="">
<figcaption>Banner 6</figcaption>
</figure>

</div><!-- layout -->

<p data-size="s"><a href="/images/assets/banners.zip" class="btn">Download ZIP (all formats)</a></p>

<hr data-function="spacer">

<h3>Promos</h3>

<figure>
<img src="/images/assets/promo-bees.webp" alt="">
<figcaption>Promo 1</figcaption>
</figure>

<div data-layout="flex">

<figure>
<img src="/images/assets/promo-courses-2.webp" alt="">
<figcaption>Promo 2</figcaption>
</figure>

<figure>
<img src="/images/assets/promo-courses-3.webp" alt="">
<figcaption>Promo 3</figcaption>
</figure>

<figure>
<img src="/images/assets/promo-courses-4.webp" alt="">
<figcaption>Promo 4</figcaption>
</figure>

</div><!-- layout -->

<p data-size="s"><a href="/images/assets/promos.zip" class="btn">Download ZIP (all formats)</a></p>




<div class="sn-hgroup" id="section-icons">
<h2>Icons</h2>
<p data-size="s">Available in PNG, SVG, and WEBP file formats</p>
</div><!-- hgroup -->

<div class="layout" data-content="sn-icons">

<figure>
<img src="/images/assets/icon-bluesky.svg" alt="">
<figcaption>
<a href="/images/assets/icon-bluesky.png">PNG</a> &nbsp;
<a href="/images/assets/icon-bluesky.svg">SVG</a> &nbsp;
<a href="/images/assets/icon-bluesky.webp">WEBP</a>
</figcaption>
</figure>

<figure>
<img src="/images/assets/icon-facebook.svg" alt="">
<figcaption>
<a href="/images/assets/icon-facebook.png">PNG</a> &nbsp;
<a href="/images/assets/icon-facebook.svg">SVG</a> &nbsp;
<a href="/images/assets/icon-facebook.webp">WEBP</a>
</figcaption>
</figure>

<figure>
<img src="/images/assets/icon-instagram.svg" alt="">
<figcaption>
<a href="/images/assets/icon-instagram.png">PNG</a> &nbsp;
<a href="/images/assets/icon-instagram.svg">SVG</a> &nbsp;
<a href="/images/assets/icon-instagram.webp">WEBP</a>
</figcaption>
</figure>

<figure>
<img src="/images/assets/icon-pinterest.svg" alt="">
<figcaption>
<a href="/images/assets/icon-pinterest.png">PNG</a> &nbsp;
<a href="/images/assets/icon-pinterest.svg">SVG</a> &nbsp;
<a href="/images/assets/icon-pinterest.webp">WEBP</a>
</figcaption>
</figure>

<figure>
<img src="/images/assets/icon-whatsapp.svg" alt="">
<figcaption>
<a href="/images/assets/icon-whatsapp.png">PNG</a> &nbsp;
<a href="/images/assets/icon-whatsapp.svg">SVG</a> &nbsp;
<a href="/images/assets/icon-whatsapp.webp">WEBP</a>
</figcaption>
</figure>

<figure>
<img src="/images/assets/icon-youtube.svg" alt="">
<figcaption>
<a href="/images/assets/icon-youtube.png">PNG</a> &nbsp;
<a href="/images/assets/icon-youtube.svg">SVG</a> &nbsp;
<a href="/images/assets/icon-youtube.webp">WEBP</a>
</figcaption>
</figure>

</div><!-- layout -->

<h3>UI</h3>

<div class="layout" data-content="sn-icons">

<figure>
<img src="/images/assets/icon-blockquote.svg" alt="">
<figcaption>
<a href="/images/assets/icon-blockquote.png">PNG</a> &nbsp;
<a href="/images/assets/icon-blockquote.svg">SVG</a> &nbsp;
<a href="/images/assets/icon-blockquote.webp">WEBP</a>
</figcaption>
</figure>

<figure>
<img src="/images/assets/icon-account.svg" alt="">
<figcaption>
<a href="/images/assets/icon-account.png">PNG</a> &nbsp;
<a href="/images/assets/icon-account.svg">SVG</a> &nbsp;
<a href="/images/assets/icon-account.webp">WEBP</a>
</figcaption>
</figure>

<figure>
<img src="/images/assets/icon-buzz.svg" alt="">
<figcaption>
<a href="/images/assets/icon-buzz.png">PNG</a> &nbsp;
<a href="/images/assets/icon-buzz.svg">SVG</a> &nbsp;
<a href="/images/assets/icon-buzz.webp">WEBP</a>
</figcaption>
</figure>

<figure>
<img src="/images/assets/icon-cart.svg" alt="">
<figcaption>
<a href="/images/assets/icon-cart.png">PNG</a> &nbsp;
<a href="/images/assets/icon-cart.svg">SVG</a> &nbsp;
<a href="/images/assets/icon-cart.webp">WEBP</a>
</figcaption>
</figure>

</div><!-- layout -->

<hr>

<h3>Numerals</h3>

<div class="layout" data-content="sn-icons">

<figure>
<img src="/images/assets/icon-number-1.svg" alt="">
</figure>

<figure>
<img src="/images/assets/icon-number-2.svg" alt="">
</figure>

<figure>
<img src="/images/assets/icon-number-3.svg" alt="">
</figure>

<figure>
<img src="/images/assets/icon-number-4.svg" alt="">
</figure>

<figure>
<img src="/images/assets/icon-number-5.svg" alt="">
</figure>

<figure>
<img src="/images/assets/icon-number-6.svg" alt="">
</figure>

<figure>
<img src="/images/assets/icon-number-7.svg" alt="">
</figure>

<figure>
<img src="/images/assets/icon-number-8.svg" alt="">
</figure>

<figure>
<img src="/images/assets/icon-number-9.svg" alt="">
</figure>

</div><!-- layout -->

<p data-size="s"><a href="/images/assets/numerals.zip" class="btn">Download ZIP (all formats)</a></p>



<div class="sn-hgroup" id="section-guides">
<h2>Guides thumbnails</h2>
<p data-size="s">Available in PNG and WEBP file formats</p>
</div><!-- hgroup -->

<div class="layout" data-content="sn-4-col">

<figure>
<img src="/images/assets/img-guide-1.webp" alt="">
<figcaption>
<a href="/images/assets/img-guide-1.png">PNG</a> &nbsp;
<a href="/images/assets/img-guide-1.webp">WEBP</a>
</figcaption>
</figure>

<figure>
<img src="/images/assets/img-guide-2.webp" alt="">
<figcaption>
<a href="/images/assets/img-guide-2.png">PNG</a> &nbsp;
<a href="/images/assets/img-guide-2.webp">WEBP</a>
</figcaption>
</figure>

<figure>
<img src="/images/assets/img-guide-3.webp" alt="">
<figcaption>
<a href="/images/assets/img-guide-3.png">PNG</a> &nbsp;
<a href="/images/assets/img-guide-3.webp">WEBP</a>
</figcaption>
</figure>

<figure>
<img src="/images/assets/img-guide-4.webp" alt="">
<figcaption>
<a href="/images/assets/img-guide-4.png">PNG</a> &nbsp;
<a href="/images/assets/img-guide-4.webp">WEBP</a>
</figcaption>
</figure>

</div><!-- layout -->





<div class="sn-hgroup" id="section-logos">
<h2>Logos</h2>
<p data-size="s">Available in PNG, SVG, and WEBP file formats</p>
</div><!-- hgroup -->

<figure>
<img src="/images/assets/logos-block-1.svg" alt="">
<figcaption>
<a href="/images/assets/logos-block-1.png">PNG</a> &nbsp;
<a href="/images/assets/logos-block-1.svg">SVG</a> &nbsp;
<a href="/images/assets/logos-block-1.webp">WEBP</a>
</figcaption>
</figure>

<hr>

<figure>
<img src="/images/assets/logos-block-2.svg" alt="">
<figcaption>
<a href="/images/assets/logos-block-2.png">PNG</a> &nbsp;
<a href="/images/assets/logos-block-2.svg">SVG</a> &nbsp;
<a href="/images/assets/logos-block-2.webp">WEBP</a>
</figcaption>
</figure>

<hr>

<figure>
<img src="/images/assets/logos-block-3.webp" alt="" style="max-width:640px;">
<figcaption>
<a href="/images/assets/logos-block-3.png">PNG</a> &nbsp;
<a href="/images/assets/logos-block-3.webp">WEBP</a>
</figcaption>
</figure>

<hr>

<div class="layout" data-content="sn-4-col">

<figure>
<img src="/images/assets/logo-bee-farmers-association.svg" alt="">
<figcaption>
<a href="/images/assets/logo-bee-farmers-association.png">PNG</a> &nbsp;
<a href="/images/assets/logo-bee-farmers-association.svg">SVG</a> &nbsp;
<a href="/images/assets/logo-bee-farmers-association.webp">WEBP</a>
</figcaption>
</figure>

<figure>
<img src="/images/assets/logo-dash.svg" alt="">
<figcaption>
<a href="/images/assets/logo-dash.png">PNG</a> &nbsp;
<a href="/images/assets/logo-dash.svg">SVG</a> &nbsp;
<a href="/images/assets/logo-dash.webp">WEBP</a>
</figcaption>
</figure>

<figure>
<img src="/images/assets/logo-national-bee-unit.svg" alt="">
<figcaption>
<a href="/images/assets/logo-national-bee-unit.png">PNG</a> &nbsp;
<a href="/images/assets/logo-national-bee-unit.svg">SVG</a> &nbsp;
<a href="/images/assets/logo-national-bee-unit.webp">WEBP</a>
</figcaption>
</figure>

</div><!-- layout -->

<hr>

<div class="layout" data-content="sn-4-col">

<figure>
<img src="/images/assets/logo-course-1.svg" alt="">
<figcaption>
<a href="/images/assets/logo-course-1.png">PNG</a> &nbsp;
<a href="/images/assets/logo-course-1.svg">SVG</a> &nbsp;
<a href="/images/assets/logo-course-1.webp">WEBP</a>
</figcaption>
</figure>

<figure>
<img src="/images/assets/logo-guides-1.svg" alt="">
<figcaption>
<a href="/images/assets/logo-guides-1.png">PNG</a> &nbsp;
<a href="/images/assets/logo-guides-1.svg">SVG</a> &nbsp;
<a href="/images/assets/logo-guides-1.webp">WEBP</a>
</figcaption>
</figure>

<figure>
<img src="/images/assets/logo-hive-q.svg" alt="">
<figcaption>
<a href="/images/assets/logo-hive-q.png">PNG</a> &nbsp;
<a href="/images/assets/logo-hive-q.svg">SVG</a> &nbsp;
<a href="/images/assets/logo-hive-q.webp">WEBP</a>
</figcaption>
</figure>

</div><!-- layout -->

<div class="layout" data-content="sn-3-col">

<figure>
<img src="/images/assets/logo-youtube-username.svg" alt="">
<figcaption>
<a href="/images/assets/logo-youtube-username.png">PNG</a> &nbsp;
<a href="/images/assets/logo-youtube-username.svg">SVG</a> &nbsp;
<a href="/images/assets/logo-youtube-username.webp">WEBP</a>
</figcaption>
</figure>

<figure>
<img src="/images/assets/logo-buzz-newsletter.svg" alt="">
<figcaption>
<a href="/images/assets/logo-buzz-newsletter.png">PNG</a> &nbsp;
<a href="/images/assets/logo-buzz-newsletter.svg">SVG</a> &nbsp;
<a href="/images/assets/logo-buzz-newsletter.webp">WEBP</a>
</figcaption>
</figure>

</div><!-- layout -->



<div class="sn-hgroup" id="section-text">
<h2>Text elements</h2>
<p data-size="s">Available in PNG, SVG, and WEBP file formats</p>
</div><!-- hgroup -->

<div class="layout" data-content="sn-4-col">

<figure>
<img src="/images/assets/text-1.svg" alt="">
<figcaption>
<a href="/images/assets/text-1.png">PNG</a> &nbsp;
<a href="/images/assets/text-1.svg">SVG</a> &nbsp;
<a href="/images/assets/text-1.webp">WEBP</a>
</figcaption>
</figure>

<figure>
<img src="/images/assets/text-2.svg" alt="">
<figcaption>
<a href="/images/assets/text-2.png">PNG</a> &nbsp;
<a href="/images/assets/text-2.svg">SVG</a> &nbsp;
<a href="/images/assets/text-2.webp">WEBP</a>
</figcaption>
</figure>

<figure>
<img src="/images/assets/text-3.svg" alt="">
<figcaption>
<a href="/images/assets/text-3.png">PNG</a> &nbsp;
<a href="/images/assets/text-3.svg">SVG</a> &nbsp;
<a href="/images/assets/text-3.webp">WEBP</a>
</figcaption>
</figure>

<figure>
<img src="/images/assets/text-5.svg" alt="">
<figcaption>
<a href="/images/assets/text-5.png">PNG</a> &nbsp;
<a href="/images/assets/text-5.svg">SVG</a> &nbsp;
<a href="/images/assets/text-5.webp">WEBP</a>
</figcaption>
</figure>

</div><!-- layout -->

<div class="layout" data-content="sn-4-col">

<figure>
<img src="/images/assets/text-4.svg" alt="">
<figcaption>
<a href="/images/assets/text-4.png">PNG</a> &nbsp;
<a href="/images/assets/text-4.svg">SVG</a> &nbsp;
<a href="/images/assets/text-4.webp">WEBP</a>
</figcaption>
</figure>

</div><!-- layout -->

</main>

</div><!-- container -->

{% include "partials/footer.html" %}
</body>
</html>