{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="en">

{% include "partials/head.html" %}

<body id="{{ site.siteID }}">

{% include "partials/header.html" %}

<div id="container">

<aside>
<nav>
<h3>Channels</h3>

<ul class="alt-">
<li><a href="#section-instagram">Instagram</a></li>
<li><a href="#section-tiktok">TikTok</a></li>
<li><a href="#section-youtube">YouTube</a></li>
</ul>

</nav>
</aside>

<main>

<h1>Social</h1>

<div data-layout="flex">

<div>
<p>Our social assets and templates library is hosted on Canva.</p>
</div><!-- one -->

<div>
<a href="javascript:void(0)" class="btn">Go to assets</a>
</div><!-- two -->

</div><!-- layout -->


<hr>

<h2 id="section-instagram">Instagram</h2>

<figure>
<a href="/images/social/instagram-profile-photo.webp" target="_blank">
<img src="/images/social/instagram-profile-photo.webp" alt="" style="inline-size:200px;">
</a>
<figcaption>Instagram profile photo: 320x320px</figcaption>
</figure>

<div class="layout" data-content="sn-social">

<div>
<figure>
<a href="/images/social/instagram-landscape.webp" target="_blank">
<img src="/images/social/instagram-landscape.webp" alt="">
</a>
<figcaption>Instagram landscape: 1080x566px</figcaption>
</figure>

<figure>
<a href="/images/social/instagram-square.webp" target="_blank">
<img src="/images/social/instagram-square.webp" alt="">
</a>
<figcaption>Instagram square: 1080x1080px</figcaption>
</figure>
</div><!-- one -->

<div>
<figure>
<a href="/images/social/instagram-vertical.webp" target="_blank">
<img src="/images/social/instagram-vertical.webp" alt="">
</a>
<figcaption>Instagram vertical: 1080x1350px</figcaption>
</figure>
</div><!-- two -->

<div>
<figure>
<a href="/images/social/instagram-stories-reels-1.webp" target="_blank">
<img src="/images/social/instagram-stories-reels-1.webp" alt="">
</a>
<figcaption>Instagram reels: 1080x1920px</figcaption>
</figure>
</div><!-- three -->

<div>
<figure>
<a href="/images/social/instagram-stories-reels-2.webp" target="_blank">
<img src="/images/social/instagram-stories-reels-2.webp" alt="">
</a>
<figcaption>Instagram reels: 1080x1920px</figcaption>
</figure>
</div><!-- four -->

</div><!-- layout -->

<p data-size="s"><b>Note:</b> Our Instagram reel designs are divided into thirds. Align content to the intersections of these focal points and place captions within the grid areas. Choose light or dark text to contrast with the background photograph and use yellow to emphasise key messages.</p>

<hr>

<h2 id="section-tiktok">TikTok</h2>

<figure>
<a href="/images/social/tiktok-profile-photo.webp" target="_blank">
<img src="/images/social/tiktok-profile-photo.webp" alt="" style="inline-size:200px;">
</a>
<figcaption>TikTok profile photo: 200x200px</figcaption>
</figure>

<div class="layout" data-content="sn-social">

<div>
<figure>
<a href="/images/social/tiktok-square-ad.webp" target="_blank">
<img src="/images/social/tiktok-square-ad.webp" alt="">
</a>
<figcaption>TikTok square ad: 640x640px</figcaption>
</figure>

<figure>
<a href="/images/social/tiktok-landscape-ad.webp" target="_blank">
<img src="/images/social/tiktok-landscape-ad.webp" alt="">
</a>
<figcaption>TikTok landscape ad: 1920x1080px</figcaption>
</figure>
</div><!-- one -->

<div>
<figure>
<a href="/images/social/tiktok-vertical.webp" target="_blank">
<img src="/images/social/tiktok-vertical.webp" alt="">
</a>
<figcaption>TikTok vertical ad: 1080x1920px</figcaption>
</figure>
</div><!-- two -->

<div>
<figure>
<a href="/images/social/tiktok-stories-1.webp" target="_blank">
<img src="/images/social/tiktok-stories-1.webp" alt="">
</a>
<figcaption>TikTok stories: 1080x1920px</figcaption>
</figure>
</div><!-- three -->

<div>
<figure>
<a href="/images/social/tiktok-stories-2.webp" target="_blank">
<img src="/images/social/tiktok-stories-2.webp" alt="">
</a>
<figcaption>TikTok stories: 1080x1920px</figcaption>
</figure>
</div><!-- four -->

</div><!-- layout -->

<p data-size="s"><b>Note:</b> Our TikTok story designs are divided into thirds. Align content to the intersections of these focal points and place captions within the grid areas. Choose light or dark text to contrast with the background photograph and use yellow to emphasise key messages.</p>

<hr>

<h2 id="section-youtube">YouTube</h2>

<figure>
<a href="/images/social/youtube-profile-photo.webp" target="_blank">
<img src="/images/social/youtube-profile-photo.webp" alt="" style="inline-size:200px;">
</a>
<figcaption>YouTube profile photo: 800x800px</figcaption>
</figure>

<div class="layout" data-content="sn-social" style="grid-template-columns: repeat(3, 1fr);">

<div>
<figure>
<a href="/images/social/youtube-banner-1.webp" target="_blank">
<img src="/images/social/youtube-banner-1.webp" alt="">
</a>
<figcaption>YouTube banner: 2560x1440px</figcaption>
</figure>

<figure>
<a href="/images/social/youtube-banner-2.webp" target="_blank">
<img src="/images/social/youtube-banner-2.webp" alt="">
</a>
<figcaption>YouTube banner: 2560x1440px</figcaption>
</figure>
</div><!-- one -->

<div>
<figure>
<a href="/images/social/youtube-video-thumbnail-1.webp" target="_blank">
<img src="/images/social/youtube-video-thumbnail-1.webp" alt="">
</a>
<figcaption>YouTube thumbnail: 1280x720px</figcaption>
</figure>

<figure>
<a href="/images/social/youtube-video-thumbnail-2.webp" target="_blank">
<img src="/images/social/youtube-video-thumbnail-2.webp" alt="">
</a>
<figcaption>YouTube thumbnail: 1280x720px</figcaption>
</figure>
</div><!-- two -->

<div>
<figure>
<a href="/images/social/youtube-video-thumbnail-3.webp" target="_blank">
<img src="/images/social/youtube-video-thumbnail-3.webp" alt="">
</a>
<figcaption>YouTube thumbnail: 1280x720px</figcaption>
</figure>

<figure>
<a href="/images/social/youtube-video-thumbnail-4.webp" target="_blank">
<img src="/images/social/youtube-video-thumbnail-4.webp" alt="">
</a>
<figcaption>YouTube thumbnail: 1280x720px</figcaption>
</figure>
</div><!-- three -->

</div><!-- layout -->

<hr>

<h2 data-align-h="center">Anatomy of a thumbnail</h2>

<figure>
<img src="/images/social/youtube-anatomy.webp" alt="">
</figure>

<p data-size="s"><b>Note:</b> Our YouTube video thumbnail designs are divided into thirds. Align content to the intersections of these focal points and place captions within the grid areas. Choose light or dark text to contrast with the background photograph and use yellow to emphasise key messages.</p>

</main>

</div><!-- container -->

{% include "partials/footer.html" %}
</body>
</html>