<head>

<!-- ********************************************************
Design and development: Andy Clarke • Stuff & Nonsense
URL: https://stuffandnonsense.co.uk
******************************************************** -->

<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

<link rel="icon" type="image/png" href="/favicon.ico/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicon.ico/favicon.svg" />
<link rel="shortcut icon" href="/favicon.ico/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/favicon.ico/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="B M H" />
<link rel="manifest" href="/favicon.ico/site.webmanifest" />

<meta name="msapplication-TileColor" content="#ec9215">
<meta name="theme-color" content="#ec9215">
<meta name="robots" content="index, follow, noodp" />
<meta property="og:locale" content="en_US"/>
<meta property="og:type" content="article" />

<meta name="author" content="Black Mountain Honey" />
<meta name="description" content="" />
<meta property="og:title" content="Black Mountain Honey"/>
<meta property="og:site_name" content="Black Mountain Honey"/>
<meta property="article:author" content="Black Mountain Honey" />
<meta property="og:description" content="" />
<meta property="og:url" content=""/>
<link rel="canonical" href=""/>
<link rel="stylesheet" href="/css/critical.css">
</head>