{% for entry in entries %}
<article data-type="thumbnail">

<figure>
<a href="/images/thumbnails/{{ entry.data.image }}" target=_blank"><img src="/images/thumbnails/{{ entry.data.image }}" alt="{{ entry.data.title }}"></a>
<figcaption>{{ entry.data.title }}</figcaption>
</figure>

{% if entry.data.imageCaption %}
<p data-size="s">{{ entry.data.imageCaption }}</p>
{% endif %}

{% if entry.data.categories and entry.data.categories.length > 0 %}
<ul class="sn-categories">
<li>Categories</li>
{% for category in entry.data.categories %}
<li><a href="/thumbnails/category/{{ category | slug }}/" class="sn-category" title="{{ category }}">{{ category }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if entry.data.tags and entry.data.tags.length > 0 %}
<ul class="sn-tags">
<li>Tags</li>
{% for tag in entry.data.tags %}
<li><a href="/thumbnails/tag/{{ tag | slug }}/" class="sn-tag" title="{{ tag }}">{{ tag }}</a></li>
{% endfor %}
</ul>
{% endif %}

<small>{{ entry.data.date | dateFilter }}</small>

</article>
{% endfor %}